/*

TITLE: 
AUTHOR: Sungkwon Kudo
PURPOSE: css for 
LAST MODIFIED BY: Sungkwon Kudo
MODIFICATION HISTORY: 
: Date created.
*/

html {
	margin: 0px; padding: 0px;
}

p {

}
footer {

}
h1 {
    
}
h2 {
    
}
h3 {
    
}
body {
	height: 3000px;
}

.fixed {
	position: fixed;
    
}

.SVGContainer {
	position: fixed;
	height: 100%;
	width: 100%;
    z-index: -1;
}
