/*

TITLE: prompts.css
AUTHOR: Sungkwon Kudo
PURPOSE: css for 
ORIGINALLY CREATED ON: 09 Sep 2015
lAST MODIFIED ON: 
LAST MODIFIED BY: Sungkwon Kudo
MODIFICATION HISTORY: 
09 Sep 2015: Date created.
*/

html {
	margin: 0px; padding: 0px;
}

p {

}
footer {

}
h1 {
    
}
h2 {
    
}
h3 {
    
}
body {
background-color: DarkKhaki;
}