@font-face {
    font-family: ubuntu_bold;
    src: url(../assets/Ubuntu-B.ttf)
}

body {
    font-family: verdana, helvetica, sans-serif;
    margin-left: 15%;
    margin-right: 20%;
    background: url("../assets/OWM_kaisendon_edited.jpg") top right no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-weight: 600;
}

header {
    /*Fallback for incompatibility with rgba()*/
    background-color: rgb(255,255,255);
    /*RGB with transparency option*/
    background-color: rgba(255,255,255, 0.9);
    color: red;
    font-family: ubuntu_bold;
    font-size: 400%;
    text-align: center;
    border-radius: 7%;
}

h2 {
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 0.9);
    background-color: white;
    text-align: center;
    border: solid 1px black;
}

#navleft {
    font-size: 100%;
    position: fixed;
    left: 0px;
    top: 20%;
}

#info {
    position: fixed;
    right: 0px;
    top: 20%;
    font-family: verdana, helvetica, sans-serif;
    font-size: 14px;
    text-align: right;
    border: solid 1px black;
    background-color: white;
    border-radius: 7%;
}

#language {
    background-color: rgb(0, 127, 255);
    background-color: rgba(0, 127, 255, 0.6);
    font-weight: bold;
    position: fixed;
    top: 0px;
    right: 0%;
    border-top-left-radius: 7%;
    border-bottom-left-radius: 7%;
}

#language:hover {
    cursor: pointer;
}

#output {
    font-family: verdana, helvetica, sans-serif;
    text-align: center;
    font-size: 120%;
    font-weight: bold;
    border-radius: 7% / 7%;
}

.fade, #output {
    background-color: rgb(255,255,255);
    background-color: rgba(255,255,255, 0.8);
}

.nav {
    width: 100px;
}