/* Taken from w3schools */

/* Style tab */
div.tab {
  overflow: hidden;
  border: none;
  background-color: inherit;
}

/* Style button inside of tab*/
div.tab button {
  background-color: inherit;
  float: left;
  border:  1px solid #eee;
  outline: none;
  cursor: pointer;
  transition: 0.4s;
}

/* Change background color of tab on hover*/
div.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
  background-color: #ccc;
}

/* Style tab content */
.tabcontent {
  display: none;
  padding: inherit;
  border: 1px solid #ccc;
  border-top: none;
}
